/* * {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .notSupport {
    visibility: hidden;
  }
}

@media only screen and (min-width: 600px) {
  .mainContent {
    visibility: hidden;
  }
} */